{% extends 'base.html.twig' %}

{% block title %}Hello {{ product.title }}!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <h1>  {{ product.title }} </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <img src="{{ product.image }}" alt="{{ product.title }}">
        </div>
        <div class="col-md-4">
            <div class="text-center">
                {{ product.price|money }}
            </div>
            {% set nantesColor = (product.stock.nantes) ? 'green' : 'red' %}
            {% set nantesDispoLabel = (product.stock.nantes) ? 'En stock' : 'En commande' %}
            <div>
                Nantes : <span class="badge" style="background: {{ nantesColor }}"> {{ nantesDispoLabel }} </span>
            </div>

            {% set internetColor = (product.stock.internet) ? 'green' : 'red' %}
            {% set internetDispoLabel = (product.stock.internet) ?'En stock' : 'En commande' %}
            <div>
                Internet : <span class="badge" style="background: {{ internetColor }}"> {{ internetDispoLabel }} </span>
            </div>


            <hr>

            {{ product.warranty|warranty }}

        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>  Caractéristiques </h2>
            <ul>
            {%  for detail in product.details %}
                <li> {{  detail }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>




{% endblock %}
