{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


    {{ dump(allQuery) }}
    <div class="container">
        <div class="row">


    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
        </div>


    <form method="POST">
        <input type="hidden" name="titi" value="58">
        <input type="hidden" name="toto" value="vert">
        <button type="submit"> Like </button>
    </form>

{% endblock %}