{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


    {{ page }}
    <div class="container">
        <div class="row">
    {%  for article in articles  %}

    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{ path("blog_detail",{slug:article.slug}) }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endfor %}
        </div>

{% endblock %}