{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


    <a href="{{ path('bateau_index') }}"> retour home</a>

   {{ boat.id }}
    {{ boat.name }}



{% endblock %}
