{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


    <table class="table table-stripped">
        <caption> Liste des bateaux </caption>
        <tr>
            <th> Id </th>
            <th> Nom </th>
        </tr>
    {% for boat in boats %}
        <tr>
            <td> <a href="{{  path('bateau_bateau',{id:boat.id }) }}">{{ boat.id }} </a></td>  <td>{{ boat.name }}</td>
        </tr>
    {% endfor %}
    </table>

    <table class="table table-stripped">
        <caption> Liste des skippers </caption>
        <tr>
            <th> Id </th>
            <th> Nom </th>
            <th> Prénom </th>
        </tr>
        {% for skipper in skippers %}
            <tr>
                <td>
                    <a href="{{  path('bateau_skipper',{id:skipper.id }) }}">{{ skipper.id }} </a></td>
                <td>{{ skipper.lastname }}</td>
                <td>{{ skipper.firstname }}</td>
            </tr>
        {% endfor %}
    </table>


    <table class="table table-stripped">
        <caption> Liste des courses </caption>
        <tr>
            <th> Id </th>
            <th> Nom </th>
        </tr>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}  </td>
                <td>{{ race.name }}</td>
            </tr>
        {% endfor %}
    </table>



{% endblock %}
