{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


    <a href="{{ path('bateau_index') }}"> retour home</a>

   {{ skipper.id }}
    {{ skipper.firstname }}
    {{ skipper.lastname }}


    <form method="post">
        <button type="submit">Encourager</button>
    </form>


{% endblock %}
