
<div class="example-wrapper">
    <h1>Hello {{ civil }} {{ name }}  {{ civil ~" "~ name }} ! ✅</h1>
</div>


<p>
<hr>
    {{ details.info }}
    {{ details['summary'] }}

    {{ ex.message }}



<hr>
    {%  set totalName =  civil ~" "~ name %}
    totalName : {{ totalName }}

<hr>
{%  set htmlPart %}
    <div>
        <h2> Titre </h2>

    </div>
{% endset  %}

apres le titre
{{ htmlPart }}

<hr>
is  Yann  ? :
    {%  if name=='yann' %}
         true
    {% else  %}
        false
    {% endif %}


<hr>

sécurité
{{ comment }}

{%  autoescape  false %}
   {# {{ comment }} #}
{% endautoescape %}


{{  comment|raw }}


</p>


<hr>

<ul>
{%  for product in products %}

    <li> {{  product.name }} {{ product.price }}</li>
{%  endfor %}
</ul>

<hr>

{%  include "/test/partial.html.twig" %}

<hr>

{%  if tutu is defined %}
    {{ tutu }}
{% endif  %}


<hr>

{%  if tata is not empty %}
    tutu  not empty
    {% else  %}
        tutu   empty
{% endif  %}


{%  for key, product in products %}
 {%  set style =''%}
    {%  if key is even %}

        {%  set style =  'background: gray' %}
        {{  'even'  ~ style }}
    {% endif  %}
    {%  if key is divisible by(3) %}
        {%  set style =   ( style is  not empty) ? (";" ~  style ) :   'color: blue' %}
        {{  'divisible by(2) '  ~ style }}
    {% endif  %}

    <li  style="{{ style }}" > {{  product.name }} {{ product.price|number_format(2, ',', ' ') }} €</li>
{%  endfor %}


<hr/>

random : {{ random() }}

<hr/>
{{  dump(products) }}


<hr/>
{{ tutu|default('tutu') }}

