{% extends 'base.html.twig' %}

{% import "test/macro.html.twig" as macro %}

{% block title %}
    Hello !
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello  ✅</h1>
        This friendly message is coming from:
    </div>

    {% for  product in products %}
        {{ macro.productRender(product)  }}
    {% endfor %}


{% endblock %}

{% block javascripts %}

<script src="https://apis.google.com/_/scs/abc-static/_/js/k=gapi.gapi.en.7_zYrcOKhe0.O/m=gapi_iframes,googleapis_client,iframes_styles_slide_menu,plusone/rt=j/sv=1/d=1/ed=1/rs=AHpOoo_tirFeAub0r3Y1DFynYgUbfJZWLA/cb=gapi.loaded_0"></script>
{% endblock %}





