{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card m-auto v-top"  style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h5 class="card-title">{{ article.category.label }}</h5>
                        <p class="card-text">{{ article.content }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a  class="Button" href="{{ path('blog_db_edit',{slug:slug}) }}"> éditer</a>




{% endblock %}