{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <a href="{{ path('blog_db_index',{categ:0}) }}"> tous </a>
        {%  for categ in categories %}
            <a href="{{ path('blog_db_index',{categ:categ.id}) }}"> {{ categ.label }} ({{ categ.count }}) </a>
        {% endfor %}

    </div>
    <div class="row">
        {%  for article in articles  %}

            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h5 class="card-title">{{ article.category.label }}</h5>
                        <p class="card-text">{{ article.content }}</p>
                        <a href="{{ path("blog_db_detail",{slug:article.slug}) }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {% endblock %}
